<%- layout("layouts/boilerplate.ejs") %>
    <div class="rating-box">
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
    </div>

    <div class="rating-box">
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star half-star"></span>
        <span class="rating-star empty-star"></span>
    </div>

    <div class="rating-box">
        <span class="rating-star full-star"></span>
        <span class="rating-star full-star"></span>
        <span class="rating-star empty-star"></span>
        <span class="rating-star empty-star"></span>
        <span class="rating-star empty-star"></span>
    </div>

    <div class="rating-box">
        <span class="rating-star empty-star"></span>
        <span class="rating-star empty-star"></span>
        <span class="rating-star empty-star"></span>
        <span class="rating-star empty-star"></span>
        <span class="rating-star empty-star"></span>
    </div>