a.card {
  text-decoration: none;
  color: white;
  font-size: 1.15em;
  font-weight: 600;
}

a:hover {
  color: black;
}

a.course-url {
  color: black;
}

a.course-url:hover {
  color: #ffca2c;
}

.branch-CE {
  background-color: #df8495;
}

.branch-CH {
  background-color: #64aca1;
}

.branch-CS {
  background-color: #cd75a2;
}

.branch-CY {
  background-color: #ac8eca;
}

.branch-EE {
  background-color: #7988c8;
}

.branch-HS {
  background-color: #6aabce;
}

.branch-MA {
  background-color: #e48798;
}

.branch-ME {
  background-color: #64aca1;
}

.branch-PH {
  background-color: #e48798;
}

.branch-ID {
  background-color: #7988c8;
}
